@import '../../theme';

.Nomination{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 16px;
    
    h3{
        font-size: 16px;
        margin-left: 16px;
        font-weight: normal;
    }
    
    img{
        width: 50px;
        height: 75px;
        box-sizing: border-box;
        outline: 2px solid black;
    }

    button{
        background-color: #f9fafb;
        border-radius: 4px;
        font-size: 14px;
        margin-left: auto;
        padding: 8px 20px;
        color: black;
        border: 1px solid #c4cdd5;
        cursor: pointer;
        text-decoration: none;
        line-height: 1.3;
        
        &:hover{
            background-color: #f4f6f8;
        }
    }
}