@import '../../theme';

.RepoLink{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5%;
    margin-top: 16px;

    a {
        text-decoration: none;
        color: $primaryColor;

        &:hover{
            text-decoration: underline;
        }
    }
}